<div class="container">
  <h2>
    <a href="/teams/<%= team.name %>"><%= team.name %></a>
  </h2>
  <p>
  <%= team.members %>
  </p>

  <!-- edit button -->
  <button class="btn btn-warning edit-team" type="button"
          href="/teams/<%= team.name %>/edit">
          Edit</button>

  <!-- delete button -->
  <button class="btn btn-danger del-team" type="button"
                                          href="/teams/<%= team.name %>"
                                          name="del-team-btn">Delete</button>
</div>
